@{
    ViewBag.Title = "About";
}


<div class="eden" style="margin-top:96px">
<section class="part2">
    <div class="container2">
        <div class="row1" style="margin-top:60px; margin-right: -227px;">
            <div class="h" style="margin-top:-53px; margin-left:-280px">
                <h1 style="text-align:center; color:white; font-family:'Comic Sans MS'">НАШИОТ ТИМ</h1>
            </div>
            <div style="margin-top:55px">
            <div class="col-md-2" style=" background-color:rgba(3, 11, 85, 0.2); border:double; border-color:white">

                <img alt="" class="resize-image center-block" id="image1" src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p206x206/132058185_1035617293583963_975268978457136700_n.png?_nc_cat=100&ccb=2&_nc_sid=58c789&_nc_ohc=RXyv8L6I-dAAX-ZkvMR&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=50be2c6c9b56981df30d02f9c75f886c&oe=600453C7" style="height:230px" width="200" />
                <h5 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Наталија Костадиноска </b></h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:rgba(3, 11, 85, 0.2); border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://assets.materialup.com/uploads/0bee3e01-ba96-4a9d-b288-620780ba6269/attachment.png" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Елена Костова </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:rgba(3, 11, 85, 0.2); border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://i.pinimg.com/originals/8d/51/d5/8d51d5d3ab447836a384f3ddb543dd25.png" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Ана Зафировска </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:rgba(3, 11, 85, 0.2); border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p206x206/131973325_214100866959621_1253056750362448391_n.png?_nc_cat=107&ccb=2&_nc_sid=58c789&_nc_ohc=aSSlnkdVaHgAX-o89sI&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&_nc_tp=30&oh=9d1a389e7c235af20b7e95153f332bb1&oe=6001346B" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Eмилија Белеска </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>


            <div class="col-md-2" style=" background-color:rgba(3, 11, 85, 0.2); border:double; border-color:white">
                <img alt="" class="resize-image center-block" id="image1" src="https://image.freepik.com/free-vector/smiling-girl-avatar_102172-32.jpg" style="height:230px" width="200" />
                <h4 class="text-center" style="color:white; font-family:'Comic Sans MS'"><b> Ана Воденичаровска </b></h4>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Студент - 3та година</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">Смер: Софтверско инженерство и информациски системи</h5>
                <h5 style="text-align:center; color:white; font-family:'Comic Sans MS'">ФИНКИ</h5>

            </div>
                </div>
        </div>
    </div>
</section>

    </div>